<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Báo giá</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Sản Phẩm 1/11/2024</h1>
        <div class="section">
            <div class="header-row">
                <p class="contact-info">Lotus Farm 49 <br>Zalo 089-88888-68</br></p>
            </div>

            <% products.forEach(group => { %>
                <div class="table-container">
                    <!-- Hiển thị cờ và tên quốc gia -->
                    <p class="country">
                        <span class="flag"><%= group.countryInfo.flag %></span>
                        <span class="text"><%= group.countryInfo.name %></span>
                    </p>
                    <table class="coffee-table">
                        <tr>
                            <th>Mã</th>
                            <th>Coffee Name / Flavor Note</th>
                            <th>Sơ Chế</th>
                            <th>Loại pha</th>
                            <th>Cân nặng</th>
                            <th>Cấp độ rang</th>
                            <th>Giá VND</th>
                            <th>Limit</th>
                            <th>Số Lượng</th>
                        </tr>
                        <% group.products.forEach(product => { %>
                            <tr>
                                <td><%= product.product_code %></td>
                                <td>
                                    <p><%= product.product_name %></p>
                                    <p><%= product.description %></p>
                                </td>
                                <td><%= product.product_type %></td>
                                <td><%= product.brew_type %></td>
                                <td><%= product.weight %></td>
                                <td><%= product.roast_level %></td>
                                <td><%= product.price %></td>
                                <td><%= product.limit %></td>
                                <td>
                                    <div class="number-input-container">
                                      <button class="decrement">-</button>
                                      <input type="number" class="number-input" value="0" min="0" max="<%= product.limit %>" readonly data-product-code="<%= product.product_code %>" />
                                      <button class="increment">+</button>
                                    </div>
                                  </td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            <% }); %>
        </div>
        <button class="order-button">Đặt hàng</button>
    </div>
    <script src="js/order.js"></script> 
    <script src="js/custom.js"></script> 

</body>
</html>
